%footer#footer
  .container
    .row.info
      .span6.residence
        %ul
          %li 2301 East Lamar Blvd. Suite 140. City, Arlington.
          %li United States, Zip Code TX 76006.
      .span5.touch
        %ul
          %li
            %strong P.
            1 817 274 2933
          %li
            %strong E.
            %a{href: "#"} bootstrap@twitter.com
    .row.credits
      .span12
        .row.social
          .span12
            %a.facebook{href: "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus{href: "#"}
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
            %a.flickr{href: "#"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
            %a.pinterest{href: "#"}
              %span.socialicons.ico5
              %span.socialicons_h.ico5h
            %a.dribble{href: "#"}
              %span.socialicons.ico6
              %span.socialicons_h.ico6h
            %a.behance{href: "#"}
              %span.socialicons.ico7
              %span.socialicons_h.ico7h
        .row.copyright
          .span12
            © 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.